%div.page-header
  %h1
    = @place.name
    %small
      \/ #{@place.street.name} street

  %nav
    %ul.nav.nav-pills
      %li= link_to "Show street details", admin_street_path(@place.street)
      %li= link_to "Edit place details", edit_admin_street_place_path(@place.street, @place)


%div.page-content

  %dl.dl-horizontal

    %dt Belongs to street:
    %dd= @place.street.name

    %dt Place name:
    %dd= "#{@place.name_pl} \ #{@place.name_en}"

    %dt Place type:
    %dd= @place.place_type

    %dt Public url:
    %dd= link_to street_place_url(@place.street, @place), street_place_path(@place.street, @place)

    %dt Place description (PL)
    %dd= simple_format @place.description_pl

    %dt Place description (EN)
    %dd= simple_format @place.description_en


    %dt Photos:
    %dd
      - if @place.photos.size > 0
        %ul.list-inline
          - @place.photos.each do |photo|
            %li= image_tag photo.image.url(:thumb), alt: photo.title
      - else
        %p No photos yet
      = link_to "Manage photos for this place", admin_place_photos_path(@place), class: 'btn btn-default'
