%section.content-section
  %header.major
    = image_tag "kazimir_logo.png"
    %p.subtitle
      Opowieść o dwóch kulturach na krakowskim Kazimierzu.
    %br/

  %p Aplikacja Kazimir odkrywa przed Tobą tajemnice krakowskiej dzielnicy żydowskiej. Zanurz się w nieznany świat, na płaszczyźnie łączącej przeszłość i teraźniejszość. Poznaj legendy, zdarzenia, ludzi, kształtujących tożsamość Krakowian, i eksploruj współczesny, nieoczywisty Kazimierz. Przed Tobą wyjątkowa podróż w czasie.

  %p Z końcem maja możesz spodziewać się wiadomości od nas.
  = render partial: 'pages/partials/mailchimp'

%section.content-section
  %header.section-title
    %h4
      Projekt
  %p Pomysł na aplikację zrodził się z potrzeby wyprowadzenia nowej, odciążonej ze stereotypów i mroków Holocaustu, narracji o jednej z najstarszych dzielnic Krakowa. Przewodnik ma na celu wprowadzenie użytkownika w przedwojenny świat dzielnicy, aktualnie mało znany, a  który nierozerwalnie był zwiazany z kulturą żydowską. Stąd celowo wprowadzony zabieg odwrotnej nawigacji w części przedwojennej, nasuwający na myśl język hebrajski. Aplikacja równocześnie ukazuje współczesne oblicze dzielnicy, tak ważnej w historii Krakowa.
  %p Logotyp, wzorowany na hebrajskiej literze <em>beta</em> i kształcie dzielnicy, odzwierciedla dwie kultury, religie i narody. Symbol domu, który niesie ze sobą <em>beta</em> nawiązuje do swobodnej, bezpretensjonalnej atmosfery dzielnicy, a także jej gościnności dla każdego, bez względu na wiek, religię czy pochodzenie.
  %p Przedstawiamy zatem unikalny przewodnik, dzięki któremu odnajdziesz się w zaskakującej rzeczywistości przedwojennego i współczesnego Kazimierza.
  %p Kazimir  poprowadzi Cię po ulicach krakowskiego Kazimierza, prezentując najciekawsze miejsca, w których od wieków tętni życie.
%section
  %header.section-title
    %h4
      Linki
  %div.row
    %div.col-sm-4.col-xs-12.link-image
      %a{:href => "https://www.dropbox.com/s/zy3bdtld41qy6bw/KAZIMIERZ_prez.pdf?dl=0", :target => "_blank"}
        = image_tag "poster3.jpg"
      %p.link-subtitle Indentyfikacja dzielnicy
    %div.col-sm-4.col-xs-12.link-image
      %a{:href => "https://www.dropbox.com/s/on0pc6o54zswzkx/Emilia_Maj_plakaty_zydowskie_1918-1939.pdf?dl=0", :target => "_blank"}
        = image_tag "poster2.png"
      %p.link-subtitle Plakaty polsko - żydowskie
    %div.col-sm-4.col-xs-12.link-image
      %a{:href => "http://kazimierzkrakow.org/", :target => "_blank"}
        = image_tag "kuzmir_1.jpg"
      %p.link-subtitle Zdjęcia Susanne Guzei - Taschner
