- # this is how you define tags for page title & meta description
- content_for :page_title do
  = "#{@page.title} - #{@page.subtitle}"
%div.appLinks
  %a.appstore{:href => "https://itunes.apple.com/app/kazimir/id995212413"}
    = image_tag "appstore.svg"
  %a.googlestore{:href => "https://play.google.com/store/apps/details?id=pl.kazimirapp"}
    = image_tag "google_store_small.png"
- content_for :page_description do
  = @page.introduction
- content_for :hero do
  = render partial: 'pages/partials/flip'

%section.page-intro
  %header.major
    %a.appLinkMobile{:href => "https://itunes.apple.com/app/kazimir/id995212413"}
      = image_tag "appstore.svg"
    %p.subtitle= @page.subtitle

  %div.intro-content
    = markdown @page.introduction
    = render partial: 'pages/partials/mailchimp'

%section.page-content
  = markdown @page.content

%section.links-section.page-content
  %header.section-title
    %h4= t('.links')
  %div.row
    %div.col-sm-4.col-xs-12.link-image
      %a{:href => "https://www.dropbox.com/s/zy3bdtld41qy6bw/KAZIMIERZ_prez.pdf?dl=0", :target => "_blank"}
        = image_tag "poster3.jpg"
      %p.link-subtitle
        = t('.visual_identity_of_the_district')
    %div.col-sm-4.col-xs-12.link-image
      %a{:href => "https://www.dropbox.com/s/on0pc6o54zswzkx/Emilia_Maj_plakaty_zydowskie_1918-1939.pdf?dl=0", :target => "_blank"}
        = image_tag "poster2.png"
      %p.link-subtitle
        = t('.polish_jewish_posters')
    %div.col-sm-4.col-xs-12.link-image
      %a{:href => "http://kazimierzkrakow.org/", :target => "_blank"}
        = image_tag "kuzmir_1.jpg"
      %p.link-subtitle
        = t('.photos_from_susanne')

/ = render partial: 'pages/partials/team'
