%section.links-section.page-content
  %header.section-title
    %h4= t('.press')
    %div.prLogo
      %p Public Relations by
      %a{:href => "http://www.steinke.com.pl/", :target => "_blank"}
        = image_tag "steinke.png"
  %div.row.press
    %div.col-sm-6.col-xs-12.link-image
      %a{:href => "http://www.polskieradio.pl/130/2787/Artykul/1464973,Mobilny-przewodnik-po-Kazimierzu", :target => "_blank"}
        = image_tag "polskieradio.png"
      %p.link-subtitle
        polskie radio
    %div.col-sm-6.col-xs-12.link-image
      %a{:href => "http://thinkapple.pl/2015/06/16/kazimir-aplikacja-przewodnik-po-krakowskim-kazimierzu/", :target => "_blank"}
        = image_tag "thinkapple.png"
      %p.link-subtitle
        think apple
    %div.col-sm-6.col-xs-12.link-image
      %a{:href => "http://wiadomosci.onet.pl/krakow/zwiedzaj-krakowski-kazimierz-z-aplikacja-mobilna/c7kzg8", :target => "_blank"}
        = image_tag "onet.png"
      %p.link-subtitle
        onet
    %div.col-sm-6.col-xs-12.link-image
      %a{:href => "http://www.dziennikpolski24.pl/artykul/3885221,nieznany-kazimierz-na-ekranie-smartfona,id,t.html", :target => "_blank"}
        = image_tag "dziennik.png"
      %p.link-subtitle
        dziennik polski
    %div.col-sm-6.col-xs-12.link-image
      %a{:href => "http://www.wiadomosci24.pl/artykul/odkryj_polskozydowski_kazimierz_w_krakowie_powstaje_aplikacja_kazimir_331005.html", :target => "_blank"}
        = image_tag "wiadomosci.png"
      %p.link-subtitle
        wiadomości24
    %div.col-sm-6.col-xs-12.link-image
      %a{:href => "http://turystyka.wp.pl/kat,1036541,title,Kazimir-aplikacja-przewodnik-po-krakowskim-Kazimierzu,wid,17567165,wiadomosc.html?ticaid=114eef", :target => "_blank"}
        = image_tag "wp.png"
      %p.link-subtitle
        wp pl
