#modal-1.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "p_rad.jpg"
      %div.col-sm-4.full-text
        %h3 Patrycja Radaczyńska
        %p Jej pierwsza miłość to muzyka. Saksofonistka z wykształcenia, pasjonatka jazzu i wszelkiego rodzaju improwizacji. Od niedawna zakochana w kodowaniu, na codzień pracuje jako frontend developer, gdzie cięcie, gięcie i rozwiązywanie zagadek to jest to, co lubi najbardziej. Włóczęgi to dla niej najlepszy sposób na relaks i najlepiej czuje się gdy szybko zmienia się krajobraz za oknem. Miłośniczka sztuki, która inspiruje, technologii, które ułatwiają życie i absurdu wszelkiej maści.
      %button.md-close X
#modal-2.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "a_byw.jpg"
      %div.col-sm-4.full-text
        %h3 Ania Bywanis-Kwiecień
        %p Z wykształcenia prawnik, dołączyła do świata IT jako projektant UI/UX. Obecnie ogarnia pracę kilku osób w wydawnictwie cyfrowym James Cook Publishing, produkuje podcasty do Projektu Kazimierz i organizuje TedxKazimierz. Uwielbia dobrych ludzi, dobrą kawę i przygody, które dobrze się kończą.
      %button.md-close X
#modal-3.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "w_dal.jpg"
      %div.col-sm-4.full-text
        %h3 Wiktoria Dalach
        %p Programistka i fotografka. Aby poprawiać nastrój sprzedawcom i urzędnikom, założyła firmę Jest Super. Eksploruje miejskie podwórka. Chętnie śpiewa piosenki, choć nie pamięta ich tekstów. Lubi ludzi, ładne linie i sztukę współczesną.
      %button.md-close X
#modal-4.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "j_luc.jpg"
      %div.col-sm-4.full-text
        %h3 Joanna Łuczyńska
        %p Projektantka graficzna, która zawsze dba o to, żeby każdy design był zarazem estetyczny i funkcjonalny.Uwielbia piękne wzory i tekstury. Z wykształcenia psycholog. W wolnym czasie okupuje kuchnię, ćwiczy oraz kocha wszystkie kotki.
      %button.md-close X
#modal-5.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "krzysiek.jpg"
      %div.col-sm-4.full-text
        %h3 Krzysztof Cieplucha
        %p Programista iOS na freelansie. Geek technologiczny i science-fiction. Po godzinach biegacz, wolontariusz i pasjonat muzyki. Chciałby zostać gwiazdą rocka, kierowcą wyścigowym i astronautą. :)
      %button.md-close X
#modal-6.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "p_mle.jpg"
      %div.col-sm-4.full-text
        %h3 Piotr Mleczko
        %p Software Developer w korporacji, fotografik w wolnym czasie. Milosnik sztuki i tanich win z Biedronki. Fotografuje przede wszystkim dla siebie, ale czasem tez dla Magazynu Exclusive Info, marki Wearwool, róznych wydarzen cyklicznych: Startup Sprint, Social Metups. Pierwszy wernisaz ma za soba, liczy na nastepne.
      %button.md-close X
%section.links-section
  %header.section-title
    %h4= t('.team')
  %div.row
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-1"}
        = image_tag "p_rad_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-2"}
        = image_tag "a_byw_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-3"}
        = image_tag "w_dal_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-4"}
        = image_tag "j_luc_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-5"}
        = image_tag "krzysiek_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-6"}
        = image_tag "p_mle_p.jpg"

.md-overlay