- # this is how you define tags for page title & meta description
- content_for :page_title do
  = "Kazimir"
%div.appLinks
  %a.appstore{:href => "https://itunes.apple.com/app/kazimir/id995212413"}
    = image_tag "appstore.svg"
  %a.googlestore{:href => "https://play.google.com/store/apps/details?id=pl.kazimirapp"}
    = image_tag "google_store_small.png"
  = render partial: 'pages/partials/flip'
#modal-1.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "p_rad.jpg"
      %div.col-sm-4.full-text
        %h3 Patrycja Radaczyńska
        %p Jej pierwsza miłość to muzyka. Saksofonistka z wykształcenia, pasjonatka jazzu i wszelkiego rodzaju improwizacji. Od niedawna zakochana w kodowaniu, na codzień pracuje jako frontend developer, gdzie cięcie, gięcie i rozwiązywanie zagadek to jest to, co lubi najbardziej. Włóczęgi to dla niej najlepszy sposób na relaks i najlepiej czuje się gdy szybko zmienia się krajobraz za oknem. Miłośniczka sztuki, która inspiruje, technologii, które ułatwiają życie i absurdu wszelkiej maści.
      %button.md-close X
#modal-2.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "e_maj.jpg"
      %div.col-sm-4.full-text
        %h3 Emilia Maj
        %p Projektantka z artystyczną przeszłością i pasją do techonologii na codzień buduje produkty softwerowe od wstępnej idei aż po realizację. Poprzez projekty non-profit i open-source: WebMuses, RailsGirls, AfricaHackTrip stara się łączyć i inspirować ludzi dookoła.
      %button.md-close X
#modal-3.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "krzysiek.jpg"
      %div.col-sm-4.full-text
        %h3 Krzysztof Cieplucha
        %p Programista iOS na freelansie. Geek technologiczny i science-fiction. Po godzinach biegacz, wolontariusz i pasjonat muzyki. Chciałby zostać gwiazdą rocka, kierowcą wyścigowym i astronautą. :)
      %button.md-close X
#modal-4.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "j_kr.jpg"
      %div.col-sm-4.full-text
        %h3 Jan Kraus
        %p
          Na codzien frontend developer i team leader w
          %a{:href => "http://www.creativestyle.pl/", :target => "_blank"} creativestyle.
          Po godzinach programuje startupy w ruby on rails, biega po górach i robi zdjęcia. Pasjonują go podróże i nowe technologie.
      %button.md-close X
#modal-5.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "m_sw.jpg"
      %div.col-sm-4.full-text
        %h3 Marta Świtała
        %p Niewolniczka Swoich Pasji :) Zawodowo zapalony hotelarz i eventowiec, z wykształcenia magister od Bliskiego Wschodu. Fanka smaków, zapachów, absurdu i śmiania się do bólu przepony. Wierzy, że „inność” wzbogaca, inspiruje i rozwija. Lubi opowiadać o kulturach i religiach, zwłaszcza dzieciom. Podróżuje, czasem o tym bloguje. I się wiecznie ciekawi.
      %button.md-close X
#modal-6.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "p_mle.jpg"
      %div.col-sm-4.full-text
        %h3 Piotr Mleczko
        %p Software Developer w korporacji, fotografik w wolnym czasie. Milosnik sztuki i tanich win z Biedronki. Fotografuje przede wszystkim dla siebie, ale czasem tez dla Magazynu Exclusive Info, marki Wearwool, róznych wydarzen cyklicznych: Startup Sprint, Social Metups. Pierwszy wernisaz ma za soba, liczy na nastepne.
      %button.md-close X
#modal-7.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "k_tw.jpg"
      %div.col-sm-4.full-text
        %h3 Katarzyna Twardak
        %p Miłośniczka psów, domowych ciast i książek zapisanych od tyłu. Tych zapisanych od przodu zresztą też. Pieniądze zarobione długimi godzinami przed komputerem najchętniej trwoni na bilety - lotnicze, kolejowe, koncertowe i festiwalowe.
      %button.md-close X
#modal-8.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "w_dal.jpg"
      %div.col-sm-4.full-text
        %h3 Wiktoria Dalach
        %p Programistka i fotografka. Aby poprawiać nastrój sprzedawcom i urzędnikom, założyła firmę Jest Super. Eksploruje miejskie podwórka. Chętnie śpiewa piosenki, choć nie pamięta ich tekstów. Lubi ludzi, ładne linie i sztukę współczesną. Jest autorką zdjęć zespołu Kazimira.
      %button.md-close X
#modal-9.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "a_byw.jpg"
      %div.col-sm-4.full-text
        %h3 Ania Bywanis-Kwiecień
        %p Z wykształcenia prawnik, dołączyła do świata IT jako projektant UI/UX. Obecnie ogarnia pracę kilku osób w wydawnictwie cyfrowym James Cook Publishing, produkuje podcasty do Projektu Kazimierz i organizuje TedxKazimierz. Uwielbia dobrych ludzi, dobrą kawę i przygody, które dobrze się kończą.
      %button.md-close X
#modal-10.md-modal.md-effect-5
  .md-content
    %div.row
      %div.col-sm-8.full-image
        = image_tag "b_paw.jpg"
      %div.col-sm-4.full-text
        %h3 Bartek Pawlik
        %p
          Zajmuje się fotografią zawodowo i hobbystycznie:
          %a{:href => "http://bartpawlik.tumblr.com/", :target => "_blank"} http://bartpawlik.tumblr.com/ .
          Jego marzeniem jest popatrzeć na świat oczami kogoś innego dlatego nieustannie i obsesyjnie szuka innej perspektywy. Każdą sekundę wypełnia obserwacją i nigdy się tym nie nudzi. W wolnych chwilach uprawia narciarski freeride i jeździ na ostrym kole.
      %button.md-close X

%section.links-section
  %header.section-title
    %h4= t('.team')
  %div.row
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-1"}
        = image_tag "p_rad_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-2"}
        = image_tag "e_maj_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-3"}
        = image_tag "krzysiek_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-4"}
        = image_tag "j_kr_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-5"}
        = image_tag "m_sw_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-6"}
        = image_tag "p_mle_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-7"}
        = image_tag "k_tw_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-8"}
        = image_tag "w_dal_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-9"}
        = image_tag "a_byw_p.jpg"
    %div.col-sm-4.col-xs-12.link-image
      %button.md-trigger{"data-modal" => "modal-10"}
        = image_tag "b_paw_p.jpg"
.md-overlay
