!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kazimir Admin
    = stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    - if content_for? :head
      = yield :head
  %body
    %header.site-header
      %div.navbar.navbar-inverse.navbar-static-top
        %div.container
          %div.navbar-header
            = link_to admin_root_path, class: 'navbar-brand' do
              KazimirApp Admin
          %div#nav-collapse.collapse.navbar-collapse
            %ul.nav.navbar-nav.left
              %li= link_to "Pages", admin_pages_path
              %li= link_to "Streets", admin_streets_path

    %div.container
      = yield


    %footer.site-footer
      %p KazimirApp - Admin Backend
