!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:page_title) ? yield(:page_title) : 'Kazimir - Opowieść o dwóch kulturach na krakowskim Kazimierzu'
    %meta{:content => "Przewodnik Kazimir to aplikacja mobilna, która daje Ci możliwość szczegółowego poznania historycznej żydowskiej dzielnicy Krakowa. Pochłonie cię nieznany świat – pełen legend, zdarzeń i osób – który kształtował tożsamość Krakowian przez wieki oraz ten współczesny, który zaskoczy Cię i zainspiruje. Przed Tobą wyjątkowa podróż w czasie.\n\nPremiera aplikacji Kazimir na iOS już za nami. A już niebawem premiera Androida. Jeśli nie chcesz tego przegapić, zapisz się do naszego newslettera.", :name => "description"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1' }/
    %meta{name: 'apple-itunes-app', content: 'app-id=995212413' }/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{rel: "apple-touch-icon", href: "/apple-touch-icon.png"}
    %link{rel: "icon", href: "/favicon.png"}
    = csrf_meta_tags
    - if Rails.env == "production"
      = render partial: 'layouts/shared/tracker'

  %body{class: body_class}
    = render 'layouts/shared/header'
    - if content_for? :hero
      = yield :hero
    %div#main
      = yield
    = render 'layouts/shared/footer'
