= simple_form_for([:admin, street]) do |f|
  
  = f.input :name, label: "Street name", hint: "The name of street, without \"Ulica\", for example: Szeroka"

  %div.row
    %div.col-md-6
      = f.input :description, input_html: {rows: 3}
    %div.col-md-6
      = f.input :past_description, input_html: {rows: 3}

  = render partial: 'admin/streets/map_field', locals: {street: street, f: f}

  %div.form-actions
    = f.button :submit, class: 'btn-primary'
