%div.page-header
  %h1 Streets

  %nav
    %ul.nav.nav-pills
      %li= link_to "Add new Street", new_admin_street_path

%div.page-content

  %table.table
    %thead
      %tr
        %th.col-md-1 id
        %th.col-md-3 name
        %th places
        -#%th.col-md-1 active
        %th.col-md-2 last update at
        %th.col-md-3 actions

    %tbody
      - if @streets.size > 0
        - @streets.each do |street|
          %tr
            %td= street.id
            %td
              = link_to street.name, admin_street_path(street)
            %td
              = street.places.count
            -#%td.text-center
              - if street.active
                %span.glyphicon.glyphicon-ok-circle
              - else
                %span.glyphicon.glyphicon-remove-circle
            %td= street.updated_at.to_formatted_s :short
            %td
              = link_to "show details", admin_street_path(street), class: 'btn btn-default btn-sm'
              = link_to "edit", edit_admin_street_path(street), class: 'btn btn-default btn-sm'
              = link_to "delete", admin_street_path(street), method: 'delete', class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure to delete?"}
      - else
        %tr
          %td{colspan: 6}
            %p
              No streets found in the database, yet.
              = link_to "Create first street now!", new_admin_street_path, class: 'btn btn-primary'
