%div.page-header
  %h1= @street.name

  %nav
    %ul.nav.nav-pills
      %li= link_to "Show street index", admin_streets_path
      %li= link_to "Edit street details", edit_admin_street_path(@street)
      %li= link_to "Add new place", new_admin_street_place_path(@street)


%div.page-content

  %div.row
    %div.col-md-6

      %dl.dl-horizontal

        %dt Street name:
        %dd= @street.name

        %dt Public url:
        %dd= link_to street_url(@street), street_path(@street)

        %dt On the map:
        %dd
          = render partial: 'admin/streets/static_map', locals: {street: @street}

    %div.col-md-6

      %div.places-list
        = render partial: 'admin/places/list', locals: {headline: "Present places", places: @street.present_places}
        = link_to "Add new present place", new_admin_street_place_path(@street, place_type: Place::PRESENT), class: 'btn btn-default'

      %div.places-list
        = render partial: 'admin/places/list', locals: {headline: "Past places", places: @street.past_places}
        = link_to "Add new place for the past", new_admin_street_place_path(@street, place_type: Place::PAST), class: 'btn btn-default'
